Launcher/.vs
Launcher/bin
Launcher/obj
Expanded Galaxy Port Installer/backup
Expanded Galaxy Port Installer/uninstall
Expanded Galaxy Port Installer/installlog.txt
Expanded Galaxy Port Installer/*.log
Expanded Galaxy Port Installer/*.1
Expanded Galaxy Port Installer/*.2
Expanded Galaxy Port Installer/*.3
Expanded Galaxy Port Installer/*.4
Expanded Galaxy Port Installer/*.5
Expanded Galaxy Port Installer/*.6
Expanded Galaxy Port Installer/*.7
Expanded Galaxy Port Installer/*.8
Expanded Galaxy Port Installer/*.9
override.txt